.app {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.symbol-container {
  display: flex;
  justify-content: space-between;
}

.symbol-block {
  width: 30%;
}

.symbol-list {
  display: flex;
  flex-wrap: wrap;
}

.symbol-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.symbol-display {
  font-size: 3rem;
}

.symbol-description {
  margin-top: 10px;
  text-align: center;
}
